<<<<<<< HEAD
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 400px;
    width: 100%;
    margin: 50px auto;
    background-color: #e8e8e8;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(199, 199, 199);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #091829;
    align-items: top;
}

.calculadora {
    display: flex;
    flex-direction: column;
}

#display {
    width: 100%;
    padding: 10px;
    font-size: 1.5em;
    text-align: right;
    margin-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgb(194, 194, 194);
}

.botoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 1.2em;
    border-radius: 5px;
    background-color: #6f7f8f;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #052d58;
}
=======
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 400px;
    width: 100%;
    margin: 50px auto;
    background-color: #e8e8e8;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(199, 199, 199);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #091829;
    align-items: top;
}

.calculadora {
    display: flex;
    flex-direction: column;
}

#display {
    width: 100%;
    padding: 10px;
    font-size: 1.5em;
    text-align: right;
    margin-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgb(194, 194, 194);
}

.botoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 1.2em;
    border-radius: 5px;
    background-color: #6f7f8f;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #052d58;
}
>>>>>>> aacf5fc (favicon)
