:root {
  --bg-color-dark: #0d1117;
  --bg-color-light: #dddddd;
  --text-color-dark: #ffffff;
  --text-color-light: #0d1117;
  --bg-color-container-dark: #2d3642;
  --text-color-h1-dark: #c9d1d9;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 20px;
  color: #091829;
  align-items: top;
  text-align: center;
}

button {
  padding: 15px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #6f7f8f;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 50px auto;
  background-color: #cececb;
  padding: 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#mode-toggle {
  position: fixed;
  top: 14px;
  right: 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #c7c4c4;
  padding: 10px;
  z-index: 10;
}

.calculadora {
  display: flex;
  flex-direction: column;
}

#display {
  width: 100%;
  padding: 10px;
  font-size: 1.5em;
  text-align: right;
  margin-bottom: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: rgb(194, 194, 194);
}

.botoes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.dark-mode {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

.light-mode {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

.dark-mode .botoes button:hover {
  background-color: #8a96a6;
}

.dark-mode .botoes button:active {
  background-color: #0257c5;
}

.light-mode .botoes button:hover {
  background-color: #8a96a6;
}

.light-mode .botoes button:active {
  background-color: #0257c5;
}

.dark-mode .container {
  background-color: var(--bg-color-container-dark);
}

.dark-mode h1 {
  color: var(--text-color-h1-dark);
}

.dark-mode #mode-toggle {
  background-color: #2d3642;
}